<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">

<meta name="viewport" content="width=device-width,
    user-scalable=0, initial-scale=1, maximum-scale=1, user-scalable=no"/>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app- status-bar-style" content="black-translucent" />

<head>
    <base href="/" />
    <title>GrabGab</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script src="/lodash/index.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-animate/angular-animate.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="/main.js"></script>
    <link href="http://i.imgur.com/SOLXlhM.png" rel="apple-touch-icon">
    <link rel="manifest" href="manifest.json">
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
</head>

<body ng-app="FullstackGeneratedApp">
    <navbar ng-hide="hideNavbar"></navbar>
    <div id="main" ui-view></div>
</body>

</html>
