<div ng-controller="GameCtrl">
<div id="top">
<h1 id="title">Wordgame</h1>
<div id="panel" class="players">
<label id="name">
	<p class="Game-info">{{playerName}}</p>
</label>
	<h1> Your Word: {{exports.word}}</h1>
	<button ng-click="submit()">Submit</button>
</div>
<div id="right" class="players">
<ul ng-repeat="option in otherPlayers">
<li>{{option[0]}}: {{option[1]}}</li>
</ul>
</div>
<div id="display">
<label id="score">
	Your Score: {{score}}
</label>
<label id="players">
	<p class="Game-info"> Player # {{player}}</p>
</label>
</div>
</div>
<div id="start"> 
	<div class='row'>
		<div id="grid" class="board">
			<div class='row' ng-repeat="(x,row) in board">
				<div ng-click="click(space, x+'-'+y)" id="{{x}}-{{y}}" class="cell" ng-repeat="(y, space) in row">
					<span id="space">{{space}}</span>
				</div>
			</div>
		</div>
	</div>
	<button ng-click="updateBoard({'0-0': 'x', '0-1':'y', '0-2': 'z'})">
	Update
	</button>
</div>
</div>
