<div id="game">
    <div id="start" ng-hide="hideStart">
        <ul class="Game-info">
            <li id="room-name">{{ roomName }}</li>
            <li id="user">{{ user.username }}</li>
            <li class="others" ng-hide="otherPlayers.length > 0">Waiting for other players...</li>
            <li class="others" ng-repeat="otherPlayer in otherPlayers track by $index">{{ otherPlayer.username }}</li>
            <button class="btn btn-primary" ng-click="startGame()">Start Game</button>
            <button class="btn btn-primary" ng-click="quit()">Quit</button>
            <!--  <button class="btn btn-primary" ng-click="startGame()" ng-hide="otherPlayers.length===0">Start Game</button> -->
        </ul>
    </div>
    <div ng-hide="hideBoard">
        <div id="score-board">
            <div class="board-row wood-board-lg">
                <div class="vcenter">
                    <ul id="yours">
                        <li> Score: {{ score }}</li>
                    </ul>
                    <timer time="gameLength"></timer>
                </div>
                <div class="col-6 vcenter">
                    <ul id="other-players">
                        <div ng-repeat="otherPlayer in otherPlayers | orderBy: '-score'">
                            <li>{{ otherPlayer.username }}: {{ otherPlayer.score}}</li>
                        </div>
                    </ul>
                </div>
            </div>
            <div class="board-row">
                <div class="col-12 wood-board-sm">
                    <div id="your-word">
                        <h1 ng-hide="freeze" ng-click="submit(exports)"> {{ exports.word }} </h1>
                        <h1 ng-show="gameOver && otherPlayers.length" ng-click="replay()">Play Again?</h1>
                    </div>
                </div>
                <div class="col-3 time-rock">
                    <timer time="gameLength" ng-show="otherPlayers.length"></timer>
                    <h1 ng-hide="otherPlayers.length">Time Up!</h1>
                </div>
            </div>
        </div>
        <div>
            <h1 id="message">{{ message }} &nbsp; </h1>
        </div>
        <div ng-hide="hideCrabdance">
            <img id="crabdance" src="/images/crabdance.gif">
        </div>
        <div id="grid" class="board" ng-mousedown="mouseDown()" ng-mouseup="mouseUp()" ng-mouseleave="mouseUp()">
            <div class="row" ng-repeat="(x,row) in board track by $index">
                <div ng-class="{'highlighted': checkHighlighted(x+'-'+y),'selected': checkSelected(x+'-'+y)}" ng-mouseenter="drag(space, x+'-'+y)" ng-mousedown="click(space, x+'-'+y)" id="{{x}}-{{y}}" class="cell unselected" ng-repeat="(y, space) in row track by $index">
                    <span id="space">{{space}}</span>
                </div>
            </div>
        </div>
        <div class="flexbox">
            <button class="btn btn-wood" ng-click="shuffle(user, roomName)">Shuffle</button>
            <button class="btn btn-wood" ng-click="toggleDrag()">{{ draggingAllowed ? 'Click ':'Drag '}}To Select</button>
            <button class='btn btn-wood' ng-click="quit()">Quit</button>
        </div>
        <br>
    </div>
</div>
