* {
    box-sizing: border-box;
}

$board-width: 80%;
$number-cells: 6;
$cell-diameter: 100%/($number-cells+.5);
$cell-height: 100vw * ($board-width/100%)/($number-cells+.5);
$letter-width: $cell-height/2;
body {
    background: #fdfdfd;
    font-family: Quicksand;
    font-weight: 400;
}

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.lobby-button {
    text-align: center;
}

#main {
    padding-top: 60px;
    margin: 0 auto;
    background: url(images/ocean.jpg);
}

#your-word {
    height: $cell-height/2;
    text-align: center;
}

#title {
    text-align: center;
}

div #start {
    text-align: center;
}

#grid {
    width: $board-width;
    margin: auto;
    padding: 1%;
}

#space {
    color: black;
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    height: $cell-height/2;
}

.boardRow {
    width: 80%;
    margin-left: auto;
    padding: 3%;
    display: inline-block;
    .col-6 {
        float: left;
        width: 50%;
        padding: 1%;
    }
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

#grid .cell {
    font-size: $letter-width;
    width: $cell-diameter;
    height: $cell-height;
    line-height: $cell-height/2 + 5.75;
    // padding: 12%;
    // padding: 5px;
    background: url(images/sand.png);
    border: .2px solid black;
    border-radius: 50%;
    text-align: center;
    // width: 15%;
    display: inline-block;
    margin: 0 !important;
    padding: 0 !important;
    vertical-align: bottom;
    // height: 8vw;
    // padding: 1%;
}

#grid .selected {
    border: 5px solid #c3f4eb;
}

#panel {
    width: 50%;
    border: 5px solid black;
}

#top {
    font-size: 18pt;
}

.players {
    display: inline-block;
}

#right {
    float: right;
    clear: right;
}

#right li {
    list-style: none;
}

#display {
    width: 100%;
    // this was originally 50% width: 50%;
    margin: auto;
}

.Game-info {
    li {
        list-style: none;
    }
    #user {
        
        font-size:16px;
    }
}
#score {
    // margin-right: 25%;
    padding-left: 5px;
    text-align: left;
    font-size: 18px;
    li {
        list-style: none;
        text-align: left;
    }
}

#otherPlayers {
    // margin-right: 25%;
    li {
        list-style: none;
        text-align: left;
    }
}

#message {
    text-align: center;
}

.user-info {
    font-size: 18pt;
}

.user-title {
    font-size: 32pt;
    text-align: justify;
    text-align: center;
}

#profile {
    border: 5px dotted black;
    width: 50%;
    text-align: center;
    margin: auto;
}

#timer {
    // border: 5px dotted black;
    // width: 2%;
    margin: auto;
    text-align: center;
}

#crabdance {
    width: $board-width;
    padding-left: $board-width/4;
}


.flexbox {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.btn-wood {
    background-image: url(images/woodBtn.png);
    background-color: transparent;
    background-size: 100% 100%;
    border: none;
    font-weight: 1000;
}

.wood-board-lg {
    background-image: url(images/woodBtn.png);
    background-size: 100% 100%;
    border: none;
}
.wood-board-sm {
    background-image: url(images/woodBtn.png);
    background-size: 80% 100%;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    height: 80px
}

#plays {}

@import 'directives/main';
@import 'home/main';
@import 'tutorial/main';
@import 'login/main';
@import 'lobby/main';

/* ----------- Media Queries ----------- */


/* ----------- iPhone 4 and 4S ----------- */


/* Portrait and Landscape */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    $board-width: 100%;
    $number-cells: 6;
    $cell-diameter: 100%/($number-cells+.5);
    $cell-height: 100vw * ($board-width/100%)/($number-cells+.5);
    $letter-width: $cell-height/2;
    html,
    body {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
        position: relative;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
    #grid {
        width: $board-width;
    }
    #grid .cell {
        font-size: $letter-width;
        width: $cell-diameter;
        height: $cell-height;
        line-height: $cell-height/2 + 6;
    }
}


/* ----------- iPhone 5 and 5S ----------- */


/* Portrait and Landscape */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    $board-width: 100%;
    $number-cells: 6;
    $cell-diameter: 100%/($number-cells+.5);
    $cell-height: 100vw * ($board-width/100%)/($number-cells+.5);
    $letter-width: $cell-height/2;
    html,
    body {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
        position: relative;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
    #grid {
        width: $board-width;
    }
    #grid .cell {
        font-size: $letter-width;
        width: $cell-diameter;
        height: $cell-height;
        line-height: $cell-height/2 + 6;
    }
}


/* ----------- iPhone 6 ----------- */


/* Portrait and Landscape */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    $board-width: 100%;
    $number-cells: 6;
    $cell-diameter: 100%/($number-cells+.5);
    $cell-height: 100vw * ($board-width/100%)/($number-cells+.5);
    $letter-width: $cell-height/2;
    html,
    body {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
        position: relative;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
    #grid {
        width: $board-width;
    }
    #grid .cell {
        font-size: $letter-width;
        width: $cell-diameter;
        height: $cell-height;
        line-height: $cell-height/2 + 6;
    }
}


/* ----------- iPhone 6+ ----------- */


/* Portrait and Landscape */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
    $board-width: 100%;
    $number-cells: 6;
    $cell-diameter: 100%/($number-cells+.5);
    $cell-height: 100vw * ($board-width/100%)/($number-cells+.5);
    $letter-width: $cell-height/2;
    html,
    body {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
        position: relative;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
    #grid {
        width: $board-width;
    }
    #grid .cell {
        font-size: $letter-width;
        width: $cell-diameter;
        height: $cell-height;
        line-height: $cell-height/2 + 6;
    }
}


/* ----------- Galaxy S3 ----------- */


/* Portrait and Landscape */

@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2) {
    $board-width: 100%;
    $number-cells: 6;
    $cell-diameter: 100%/($number-cells+.5);
    $cell-height: 100vw * ($board-width/100%)/($number-cells+.5);
    $letter-width: $cell-height/2;
    html,
    body {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
        position: relative;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
    #grid {
        width: $board-width;
    }
    #grid .cell {
        font-size: $letter-width;
        width: $cell-diameter;
        height: $cell-height;
        line-height: $cell-height/2 + 6;
    }
}


/* ----------- Galaxy S4 ----------- */


/* Portrait and Landscape */

@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
    $board-width: 100%;
    $number-cells: 6;
    $cell-diameter: 100%/($number-cells+.5);
    $cell-height: 100vw * ($board-width/100%)/($number-cells+.5);
    $letter-width: $cell-height/2;
    html,
    body {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
        position: relative;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
    #grid {
        width: $board-width;
    }
    #grid .cell {
        font-size: $letter-width;
        width: $cell-diameter;
        height: $cell-height;
        line-height: $cell-height/2 + 6;
    }
}


/* ----------- Galaxy S5 ----------- */


/* Portrait and Landscape */

@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
    $board-width: 100%;
    $number-cells: 6;
    $cell-diameter: 100%/($number-cells+.5);
    $cell-height: 100vw * ($board-width/100%)/($number-cells+.5);
    $letter-width: $cell-height/2;
    html,
    body {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
        position: relative;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
    #grid {
        width: $board-width;
    }
    #grid .cell {
        font-size: $letter-width;
        width: $cell-diameter;
        height: $cell-height;
        line-height: $cell-height/2 + 6;
    }
}


/* ----------- iPad mini ----------- */


/* Portrait and Landscape */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    $board-width: 100%;
    $number-cells: 6;
    $cell-diameter: 100%/($number-cells+.5);
    $cell-height: 100vw * ($board-width/100%)/($number-cells+.5);
    $letter-width: $cell-height/2;
    html,
    body {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
        position: relative;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
    #grid {
        width: $board-width;
    }
    #grid .cell {
        font-size: $letter-width;
        width: $cell-diameter;
        height: $cell-height;
        line-height: $cell-height/2 + 6;
    }
}


/* ----------- iPad 1 and 2 ----------- */


/* Portrait and Landscape */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    $board-width: 100%;
    $number-cells: 6;
    $cell-diameter: 100%/($number-cells+.5);
    $cell-height: 100vw * ($board-width/100%)/($number-cells+.5);
    $letter-width: $cell-height/2;
    html,
    body {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
        position: relative;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
    #grid {
        width: $board-width;
    }
    #grid .cell {
        font-size: $letter-width;
        width: $cell-diameter;
        height: $cell-height;
        line-height: $cell-height/2 + 6;
    }
}


/* ----------- iPad 3 and 4 ----------- */


/* Portrait and Landscape */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
    $board-width: 100%;
    $number-cells: 6;
    $cell-diameter: 100%/($number-cells+.5);
    $cell-height: 100vw * ($board-width/100%)/($number-cells+.5);
    $letter-width: $cell-height/2;
    html,
    body {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
        position: relative;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
    #grid {
        width: $board-width;
    }
    #grid .cell {
        font-size: $letter-width;
        width: $cell-diameter;
        height: $cell-height;
        line-height: $cell-height/2 + 6;
    }
}


/* ----------- Galaxy Tab 10.1 ----------- */


/* Portrait and Landscape */

@media (min-device-width: 800px) and (max-device-width: 1280px) {
    $board-width: 100%;
    $number-cells: 6;
    $cell-diameter: 100%/($number-cells+.5);
    $cell-height: 100vw * ($board-width/100%)/($number-cells+.5);
    $letter-width: $cell-height/2;
    html,
    body {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
        position: relative;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
    #grid {
        width: $board-width;
    }
    #grid .cell {
        font-size: $letter-width;
        width: $cell-diameter;
        height: $cell-height;
        line-height: $cell-height/2 + 6;
    }
}

// /* ----------- Non-Retina Screens ----------- */
// @media screen
//   and (min-device-width: 1200px)
//   and (max-device-width: 1600px)
//   and (-webkit-min-device-pixel-ratio: 1) {
// }
// ----------- Retina Screens -----------
// @media screen
//   and (min-device-width: 1200px)
//   and (max-device-width: 1600px)
//   and (-webkit-min-device-pixel-ratio: 2)
//   and (min-resolution: 192dpi) {
// }

@media screen and (min-width: 1200px){
    $board-width: 1000px;
    $number-cells: 6;
    $cell-diameter: 1000px/($number-cells+.5);
    $cell-height: 1000px * ($board-width/1000px)/($number-cells+.5);
    $letter-width: $cell-height/2;

    html,body
    {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
        position: relative;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }

    #grid {
        width: $board-width;    }

    #grid .cell {
        font-size: $letter-width;
        width: $cell-diameter;
        height: $cell-height;
        line-height: $cell-height;
    }
}

//game record state

#game_table {
    width: 75%;
    margin: auto;
    border: 10px solid black;
    background-color: white;
}

#game_table tr{
    margin: auto;
}

#game_table .game_cell {
    border: 5px solid black;
    height: 50px;
}

#game_table .table_headers{
    font-size: 24pt;
    font-weight: bold;
    text-align: center;
}

#game_table .cell_data {
    font-size: 18pt;
    text-align: center;
    margin: auto;
}

#header{
    text-align: center;
}