* {
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 60px;
  margin: 0 auto;
}

#title {
	text-align: center;
}

div #start {
	text-align: center;
}

#grid {
	border: 10px solid black;
	width: 50%;
	margin: auto;
	padding: 1%;
}

#grid .cell{
	border: 5px solid black; 
	border-radius:50%;
	text-align:center;
	width: 30%;
	display: inline-block;
	height: 15vw;
	padding: 12%
}
#panel{
	width: 50%;
	border: 5px solid black;
}

#top {
	font-size: 18pt;
}
.players{
	display: inline-block;
}
#right{
	float: right;
	clear: right;
}
#right li{
	list-style: none;
}
#display{
	width: 50%;
	margin: auto;
}
#score{
	margin-right: 25%
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
