* {
    box-sizing: border-box;
}

body {
    background: #fdfdfd;
// mobile solution? vv
    // overflow: hidden;
    // position:fixed;
}

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.lobby-button {
    text-align: center;
}

#main {
    padding-top: 60px;
    margin: 0 auto;
}

//Experimental design layout/////////
//var rows = r; cell width =

$board-width: 80%;
$number-cells: 6;
$cell-diameter: 100%/($number-cells+.5);
$cell-height: 100vw * ($board-width/100%)/($number-cells+.5);
$letter-width: $cell-height/2;

body {
    background: #fdfdfd;
}

#main {
    background: url('http://orig04.deviantart.net/8efe/f/2011/010/6/1/6113bdcc14035e679f91f4eb8f651865-d36ujmh.png');
}

#grid {
    width: $board-width;
    border: 2px solid black;
    background: url('http://www.bloggerluv.com/images/lawn-turf-1215-sports-turf-630-x-420.jpg');
}

#grid .cell {
    border: .5px solid black;
    font-size: $letter-width;
    width: $cell-diameter;
    height: $cell-height;
    // padding: 12%;
    background: url('https://s-media-cache-ak0.pinimg.com/564x/a1/92/17/a19217cf19b94ba46e6aadc28140279c.jpg');
}

// .row {
//     width: 100%
// }

#space {
    color: black;
}

#space .active {
    color: brown;
}

#grid .cell .active {
    border: 3px solid brown;
}

/////////////////////////////////////
#title {
    text-align: center;
}

div #start {
    text-align: center;
}

#grid {
    // border: 10px solid black;
    // width: 50%;
    margin: auto;
    padding: 1%;
}

#space {
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}



#grid .cell {
    // border: 5px solid black;
    border-radius: 50%;
    text-align: center;
    // width: 15%;
    display: inline-block;
    // height: 8vw;
    // padding: 1%;
}

#panel {
    width: 50%;
    border: 5px solid black;
}

#top {
    font-size: 18pt;
}

.players {
    display: inline-block;
}

#right {
    float: right;
    clear: right;
}

#right li {
    list-style: none;
}

#display {
    width: 50%;
    margin: auto;
}

#score {
    margin-right: 25%
}

.user-info {
    font-size: 18pt;
}

.user-title {
    font-size: 32pt;
    text-align: justify;
    text-align: center;
}

#profile {
    border: 5px dotted black;
    width: 50%;
    text-align: center;
    margin: auto;
}
#timer {
	border: 5px dotted black;
	width: 20%;
	margin: auto;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'lobby/main';
