* {
    box-sizing: border-box;
}


$board-width: 80%;
$number-cells: 6;
$cell-diameter: 100%/($number-cells+.5);
$cell-height: 100vw * ($board-width/100%)/($number-cells+.5);
$letter-width: $cell-height/2;

body {
    background: #fdfdfd;
}

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.lobby-button {
    text-align: center;
}

#main {
    padding-top: 60px;
    margin: 0 auto;
    background: url(images/ocean.jpg);
}


#your-word {
    height: $cell-height/2;
}


#title {
    text-align: center;
}

div #start {
    text-align: center;
}

#grid {
    width: $board-width;
    margin: auto;
    padding: 1%;
}

#space {
    color: black;
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.boardTitle {
    clear: both;
    width: $board-width;
    margin: auto;
    padding: 1%;
    display: inline-block;

    .col-6 {
        float: left;
        width: $board-width/2;
        text-align: center;
        padding: 1%;
    }

    .col-4 {
        float: left;
        width: $board-width/3;
        text-align: center;
        padding: 1%;
    }
}

timer {
    margin: auto
}



#grid .cell {
    font-size: $letter-width;
    width: $cell-diameter;
    height: $cell-height;
    // padding: 12%;
    // padding: 5px;
    background: url(images/sand.png);
    border: .2px solid black;
    border-radius: 50%;
    text-align: center;
    // width: 15%;
    display: inline-block;
    margin:0 !important;
    padding:0 !important;
    vertical-align: bottom;
    // height: 8vw;
    // padding: 1%;
}

#grid .selected {
    border: 5px solid #c3f4eb;
}

#panel {
    width: 50%;
    border: 5px solid black;
}

#top {
    font-size: 18pt;
}

.players {
    display: inline-block;
}

#right {
    float: right;
    clear: right;
}

#right li {
    list-style: none;
}

#display {
    width: 100%;
    // this was originally 50% width: 50%;
    margin: auto;
}

#score {
    margin-right: 25%
}

.user-info {
    font-size: 18pt;
}

.user-title {
    font-size: 32pt;
    text-align: justify;
    text-align: center;
}

#profile {
    border: 5px dotted black;
    width: 50%;
    text-align: center;
    margin: auto;
}
#timer {
	// border: 5px dotted black;
	width: 20%;
	margin: auto;
}



#plays{

}


@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'lobby/main';


/* ----------- Media Queries ----------- */

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

    $board-width: 100%;
    $number-cells: 6;
    $cell-diameter: 100%/($number-cells+.5);
    $cell-height: 100vw * ($board-width/100%)/($number-cells+.5);
    $letter-width: $cell-height/2;

    html,body
    {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
        position: relative;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }

    #grid {
        width: $board-width;
    }

    #grid .cell {
        font-size: $letter-width;
        width: $cell-diameter;
        height: $cell-height;
       }
}


/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

    $board-width: 100%;
    $number-cells: 6;
    $cell-diameter: 100%/($number-cells+.5);
    $cell-height: 100vw * ($board-width/100%)/($number-cells+.5);
    $letter-width: $cell-height/2;

    html,body
    {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
        position: relative;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }

    #grid {
        width: $board-width;
    }

    #grid .cell {
        font-size: $letter-width;
        width: $cell-diameter;
        height: $cell-height;
    }

}


/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {

    $board-width: 100%;
    $number-cells: 6;
    $cell-diameter: 100%/($number-cells+.5);
    $cell-height: 100vw * ($board-width/100%)/($number-cells+.5);
    $letter-width: $cell-height/2;

    html,body
    {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
        position: relative;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }

    #grid {
        width: $board-width;
       
    }

    #grid .cell {
        font-size: $letter-width;
        width: $cell-diameter;
        height: $cell-height;
        }
}


/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {

    $board-width: 100%;
    $number-cells: 6;
    $cell-diameter: 100%/($number-cells+.5);
    $cell-height: 100vw * ($board-width/100%)/($number-cells+.5);
    $letter-width: $cell-height/2;

    html,body
    {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
        position: relative;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }

    #grid {
        width: $board-width;
    }

    #grid .cell {
        font-size: $letter-width;
        width: $cell-diameter;
        height: $cell-height;
    }

}



/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 2) {

    $board-width: 100%;
    $number-cells: 6;
    $cell-diameter: 100%/($number-cells+.5);
    $cell-height: 100vw * ($board-width/100%)/($number-cells+.5);
    $letter-width: $cell-height/2;

    html,body
    {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
        position: relative;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }

    #grid {
        width: $board-width;
    }

    #grid .cell {
        font-size: $letter-width;
        width: $cell-diameter;
        height: $cell-height;
    }

}

/* ----------- Galaxy S4 ----------- */

/* Portrait and Landscape */
@media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3) {

    $board-width: 100%;
    $number-cells: 6;
    $cell-diameter: 100%/($number-cells+.5);
    $cell-height: 100vw * ($board-width/100%)/($number-cells+.5);
    $letter-width: $cell-height/2;

    html,body
    {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
        position: relative;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }

    #grid {
        width: $board-width;
    }

    #grid .cell {
        font-size: $letter-width;
        width: $cell-diameter;
        height: $cell-height;
    }
}

/* ----------- Galaxy S5 ----------- */

/* Portrait and Landscape */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3) {

    $board-width: 100%;
    $number-cells: 6;
    $cell-diameter: 100%/($number-cells+.5);
    $cell-height: 100vw * ($board-width/100%)/($number-cells+.5);
    $letter-width: $cell-height/2;

    html,body
    {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
        position: relative;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }

    #grid {
        width: $board-width;
    }

    #grid .cell {
        font-size: $letter-width;
        width: $cell-diameter;
        height: $cell-height;
    }
}


/* ----------- iPad mini ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {

    $board-width: 100%;
    $number-cells: 6;
    $cell-diameter: 100%/($number-cells+.5);
    $cell-height: 100vw * ($board-width/100%)/($number-cells+.5);
    $letter-width: $cell-height/2;

    html,body
    {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
        position: relative;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }

    #grid {
        width: $board-width;
    }

    #grid .cell {
        font-size: $letter-width;
        width: $cell-diameter;
        height: $cell-height;
    }
}




/* ----------- iPad 1 and 2 ----------- */
/* Portrait and Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {

    $board-width: 100%;
    $number-cells: 6;
    $cell-diameter: 100%/($number-cells+.5);
    $cell-height: 100vw * ($board-width/100%)/($number-cells+.5);
    $letter-width: $cell-height/2;

    html,body
    {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
        position: relative;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }

    #grid {
        width: $board-width;
    }

    #grid .cell {
        font-size: $letter-width;
        width: $cell-diameter;
        height: $cell-height;
    }
}

/* ----------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2) {

    $board-width: 100%;
    $number-cells: 6;
    $cell-diameter: 100%/($number-cells+.5);
    $cell-height: 100vw * ($board-width/100%)/($number-cells+.5);
    $letter-width: $cell-height/2;

    html,body
    {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
        position: relative;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }

    #grid {
        width: $board-width;
    }

    #grid .cell {
        font-size: $letter-width;
        width: $cell-diameter;
        height: $cell-height;
    }

}


/* ----------- Galaxy Tab 10.1 ----------- */

/* Portrait and Landscape */
@media
  (min-device-width: 800px)
  and (max-device-width: 1280px) {

    $board-width: 100%;
    $number-cells: 6;
    $cell-diameter: 100%/($number-cells+.5);
    $cell-height: 100vw * ($board-width/100%)/($number-cells+.5);
    $letter-width: $cell-height/2;

    html,body
    {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
        position: relative;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }

    #grid {
        width: $board-width;    }

    #grid .cell {
        font-size: $letter-width;
        width: $cell-diameter;
        height: $cell-height;
    }


}



// /* ----------- Non-Retina Screens ----------- */
// @media screen
//   and (min-device-width: 1200px)
//   and (max-device-width: 1600px)
//   and (-webkit-min-device-pixel-ratio: 1) {
// }

// ----------- Retina Screens -----------
// @media screen
//   and (min-device-width: 1200px)
//   and (max-device-width: 1600px)
//   and (-webkit-min-device-pixel-ratio: 2)
//   and (min-resolution: 192dpi) {
// }
