* {
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 60px;
  margin: 0 auto;
}

#grid {
border: 10px solid black;
}
#grid .cell{
border: 5px solid black; 
border-radius:50%;
text-align:center;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
